.App {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header slider"
  "header home"
  "footer footer" ;
  text-align: center;
}


h1 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}



