
body {
    font-family: 'Montserrat', sans-serif;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    height: 35px;
}

.Newsletter {
}

.NewsletterLabel {

    font-size: 30px;
    font-weight: 700;
    color: #eee;
    
}

.inputEmail {
    width: 500px;
}

.button {
    width: 500px;
    height: 50px;
}